# --- Python ---
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
*.egg
.dist/
build/
.eggs/
.pytest_cache/

# Virtual envs
.venv/
venv/
env/

# --- Jupyter ---
.ipynb_checkpoints/

# Jupyter / VS Code temporary notebook cache
.virtual_documents/


# --- Data ---
# Don't ignore all audio by default
!*.flac

# Ignore generic huge datasets
*.zip
*.tar
*.tar.gz
*.tar.bz2

# Course-specific: don't ignore the full TIDIGITS audio tree
!Lab 7 - unsupervised/data/tidigits/

# Keep the small datasets that are fine to version
!Lab 1 - Introduction/data/titanic.csv
!Lab 5 - fairness/data/cc_data.csv
!Lab 6 - nonlinear/data/heart_disease.npy

# OS/editor junk
.DS_Store
Thumbs.db
.idea/
.vscode/
